---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}
<div style="margin-bottom: 20px;">
  <a href="https://elhefnawy.quarto.pub/mnl/" target="_blank" rel="noopener noreferrer">Multinomial Logistic Regression</a>
  <p>Ich verwende die multinomiale logistische Regression unter Verwendung des Datensatzes „Cars“, um Autoantriebstypen basierend auf Attributen wie PS vorherzusagen, wobei ich Datenaufbereitung, Visualisierung und Analyse mit R einbeziehe.</p>
</div>
<div style="margin-bottom: 20px;">
  <a href="https://elhefnawy.quarto.pub/2wfe/" target="_blank" rel="noopener noreferrer">Two-way Fixed Effects Model</a>
  <!-- <p>Add your description for the Two-way Fixed Effects Model here.</p> -->
</div>


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

