---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}
<div style="margin-bottom: 40px;"> <!-- Increase space between projects -->
  <a href="https://elhefnawy.quarto.pub/mnl/" target="_blank" rel="noopener noreferrer" style="display: block; margin-bottom: 10px;">Multinomial Logistic Regression</a> <!-- Reduce bottom margin to bring title closer to description -->
  <p style="margin-top: 0;">Ich verwende die multinomiale logistische Regression unter Verwendung des Datensatzes „Cars“, um Autoantriebstypen basierend auf Attributen wie PS vorherzusagen, wobei ich Datenaufbereitung, Visualisierung und Analyse mit R einbeziehe.</p> <!-- Remove top margin from paragraph -->
</div>
<div style="margin-bottom: 40px;"> <!-- Consistent space between projects -->
  <a href="https://elhefnawy.quarto.pub/2wfe/" target="_blank" rel="noopener noreferrer" style="display: block; margin-bottom: 10px;">Two-way Fixed Effects Model</a> <!-- Same style for consistency -->
  <p style="margin-top: 0;">Ich untersuche die hedonische Laufbandhypothese, indem ich die Auswirkungen der Geburt auf das Wohlbefinden der Eltern im Laufe der Zeit untersuche und dabei ein Zwei-Wege-Fixed-Effects-Modell mit Daten des Deutschen Sozio-oekonomischen Panels (SOEP) verwende. Die Analyse konzentriert sich auf die Lebenszufriedenheit vor und nach der Geburt, um die Auswirkungen von Antizipation und Anpassung auf langfristige Glückstrends im Zusammenhang mit wichtigen Lebensereignissen zu untersuchen.</p>
</div>




{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

